{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Rocketseat - Cursos</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>
    <section class="cards">
        <div class="card" id="-VQPimwkstM">
            <div class="card__image-container" id="starter">
                <img src="https://skylab.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="curso-starter">
            </div>
            <div class="card__content">
                <p>Curso Starter para impulsionar seu ponto de partida!</p>
            </div>
            <div class="card__info">
                <p>50 horas</p>
                <p class="card__price">Grátis</p>
            </div>
        </div>

        <div class="card" id="U7GjS3FuSkA">
            <div class="card__image-container" id="launchbase">
                <img src="https://skylab.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="curso-launchbase">
            </div>
            <div class="card__content">
                <p>Seja Programador Júnior!</p>
            </div>
            <div class="card__info">
                <p>250 horas</p>
                <p class="card__price">1.000,00</p>
            </div>
        </div>

        <div class="card" id="SXSKvUB9wDA">
            <div class="card__image-container" id="gostack">
                <img src="https://skylab.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="curso-gostack">
            </div>
            <div class="card__content">
                <p>Seja desejado pelas empresas!</p>
            </div>
            <div class="card__info">
                <p>300 horas</p>
                <p class="card__price">3.000,00</p>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}