{% extends "layout.njk" %}

{% block content %}
    <div class="error">
        <br/><br/>
        <h1>ERROR 404</h1>
        <br/>
        <h2>Infelizmente sua página não foi encontrada &nbsp; :( </h2>
    </div>
{% endblock %}